<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CHub Home Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/boostrapvalidate")
    @RenderSection("scripts", required: false)


    <style typeof="text/css">
        .RequireRedStar {
            color:red;
            padding-left: 2px
            }
    </style>
</head>
<body style="width:98%;height:98%">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a href="/home/index" title="HomePage">
                    <img src="~/Images/hubLogo.png" style=" margin-left:20px;height:30px">
                </a>*@
                @Html.ActionLink("CPDC-IHub", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row" style="margin-top:60px;">
            <div class="col-sm-4 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">WorkSpace</div>
                    <div id="tree"></div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-9">
                @RenderBody()
                <hr />
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row text-center">
                    <p>&copy; <strong>CPDC @DateTime.Now.Year</strong>.</p>
                </div>
                <div class="row text-center">
                    <p><small>No portion of this website may be reproduced without the prior written consent of CPDC. All rights reserved.</small></p>
                </div>
            </div>
        </footer>
    </div>



    <script>

        getLeftNav()

        function getLeftNav() {
            $.ajax({
                url: "/Home/GetLeftNav",
                type: "post",
                //data:,
                async: false,
                success: function (oData) {
                    $('#tree').treeview({
                        data: oData,
                        showBorder: false,
                        collapseIcon: "glyphicon glyphicon-chevron-down",
                        expandIcon: "glyphicon glyphicon-chevron-right",
                        highlightSelected: true,
                        enableLinks: true,
                        levels: 1
                    });
                }
            });
        }


    </script>
</body>
</html>
