<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CPDC IHub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/boostrapvalidate")
    @RenderSection("scripts", required: false)


    <style typeof="text/css">
        .RequireRedStar {
            color:red;
            padding-left: 2px
            }

        .indexLeft, .indexRight {
            padding:0px;
        }

        .indexLeft {
            width:20%;
            float:left;
        }
        .indexRight {
            width:78%;
            float:right;
        }

        body {
            font-size:12px;
        }
    </style>
</head>
<body style="width:98%;height:98%">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a href="/home/index" title="HomePage">
                    <img src="~/Images/hubLogo.png" style=" margin-left:20px;height:30px">
                </a>*@
                @Html.ActionLink("CPDC-IHub", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" ng-app="appLink" ng-controller="menuCtrl">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Application<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" >
                            <li ng-repeat="r in result"><a href="{{r.URL}}" target="_blank">{{r.APP_DISPLAY}}</a></li>
                        </ul>


                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row" style="margin-top:60px;">

                <div class="panel panel-default indexLeft" id="leftTree">
                    <div class="panel-heading">WorkSpace
                        <div class="treeBtn1" style="text-align:right" title="Collapse"><<</div>
                    </div>
                    <div id="tree" ></div>
                </div>
            <div class="treeBtn2" style="margin-left:5px" title="Collapse" hidden>>></div>

            <div class="panel panel-default indexRight" >@*style="overflow:scroll"*@
                @RenderBody()
                <hr />
            </div>
        </div>

        <footer>
            <div class="container-fluid">
                <div class="row text-center">
                    <p>&copy; <strong>CPDC @DateTime.Now.Year</strong>.</p>
                </div>
                <div class="row text-center">
                    <p><small>No portion of this website may be reproduced without the prior written consent of CPDC. All rights reserved.</small></p>
                </div>
            </div>
        </footer>
    </div>



    <script>

        getLeftNav()

        function getLeftNav() {
            $.ajax({
                url: "/Home/GetLeftNav",
                type: "post",
                //data:,
                async: false,
                success: function (oData) {
                    $('#tree').treeview({
                        data: oData,
                        showBorder: false,
                        collapseIcon: "glyphicon glyphicon-chevron-down",
                        expandIcon: "glyphicon glyphicon-chevron-right",
                        highlightSelected: true,
                        enableLinks: true,
                        levels: 1
                    });
                }
            });
        }

        angular.module('appLink', []).controller('menuCtrl', function ($scope, $http) {
            $scope.result = [];

            $http.post("/home/GetApplicationLink", null, null).then(function (resp) {
                //debugger;
                $scope.result = resp.data;

               },
            function (resp) {
                alert("Fail!");
                // $scope.resp = resp;
            });


        });

        ///////
        $(".treeBtn1").click(function () {

                $("#leftTree").slideUp();
                //$(".indexLeft").animate({
                //    width: "0%"
                //}, 1000);
                $(".indexRight").animate({
                    width: "98%",
                }, 100);
                //setTimeout(function () {
                //    $(".indexLeft").css("border", "0px");
                //}, 1000)
                $(".indexRight").css("float", "left");
                $(".indexRight").css("margin-left", "20px");
                $(".treeBtn2").css("margin-left", "20px");
                $(".treeBtn2").show();
                
        })

        $(".treeBtn2").click(function () {

            $(".indexLeft").css("border", "1px solid #ccc");
            //$(".indexLeft").animate({
            //    width: "20%"
            //}, 1000);
            $("#leftTree").slideDown();
            $(".indexRight").animate({
                width: "78%"
            }, 100);
            $(".indexRight").css("float", "right");
            $(".indexRight").css("margin-left", "0px");
            //$(".treeBtn").css("margin-left", "5px");
            $(".treeBtn2").hide();

        })

    </script>
</body>
</html>
