@{
    ViewBag.Title = "Quick Order Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label.form-control {
        margin-left:10px;
    }
    form-group {
        margin-top:-10px;
        margin-bottom:-10px;
    }

    .row {
        margin-top:-10px;
        margin-bottom:-10px;
    }

</style>

@Styles.Render("~/Content/datatimecss")
@Scripts.Render("~/bundles/datetime")
@Styles.Render("~/Content/progressbarcss")
@Scripts.Render("~/bundles/progressbar")



@*<input type="hidden" value="@ViewBag.AppUser" id="hddAppUser" />*@
<input type="hidden" value="@ViewBag.seq" id="hddSeq" />

<div id="orderBody" ng-app="orderApp" ng-controller="orderCtrl" class="small">
    <form class="form-horizontal" id="orderForm">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Quick Order Entry</b></div>

            <div class="row" style="margin-top:20px;">
                <div class="form-group">
                    <label for="orderID" class="col-sm-2 control-label small">Order SEQ</label>
                    <div class="col-sm-2 col-lg-2">
                        <input type="text" class="form-control input-sm" id="orderID" ng-model="orderSeq" placeholder="Auto" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cAlias" class="col-sm-2 control-label">Cus Alias</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="cAlias" ng-model="selectedAlias" ng-options="ca.ALIAS_NAME for ca in custAlias"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="poNum" class="col-sm-2 control-label">PO No.<i class="RequireRedStar">*</i></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" onblur="checkPOText()" id="poNum" placeholder="Customer PO No." maxlength="25" required>
                        @*<div class="help-block with-errors"></div>*@

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="orderType" class="col-sm-2 control-label">Order Type</label>
                    <div class="col-sm-2">
                        <select class="form-control input-sm" id="orderType" ng-model="selectedOrderType" ng-options="ot.ORDER_TYPE for ot in orderType"></select>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="form-group">

                    <label for="dueDate" class="col-sm-2 control-label">Due Date<i class="RequireRedStar">*</i></label>
                    <div class="col-sm-2 ">
                        <input type="text" id="dueDate" class="form-control dueDatetime input-sm" readonly required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="cShip" class="col-sm-2 control-label">Complete Ship</label>
                    <div class="col-sm-2">
                        <select class="form-control small input-sm" style="width:100px" id="cShip">
                            <option>N</option>
                            <option>Y</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="notes" class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-9 col-lg-9">
                        <input type="text" class="form-control col-sm-8 input-sm" id="notes" placeholder="Notes" ng-model="notice">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="ssto" class="col-sm-2 control-label">SPL Order</label>
                    <div class="checkbox col-md-2 col-lg-2">
                        <label>
                            <input type="checkbox" id="ssto" ng-model="splInd" class="input-sm" style="margin-left:1px;margin-top:-5px" onclick="checkSstoStatu()" >
                        </label>
                    </div>
                </div>
            </div>


            <div class="row" id="searchBox">
                <div class="panel panel-default col-sm-9 col-sm-offset-2">
                    <div class="form-group" style="padding-top:10px">
                        <label for="shipName" class="col-sm-2 control-label">Ship Name</label>
                        <div class="col-sm-7 col-lg-7">
                            <input type="text" class="form-control input-sm" id="sbShipName" placeholder="Ship Name">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:-10px;">
                        <label for="sbAddr" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-7 col-lg-7">
                            <input type="text" class="form-control input-sm" id="sbAddr" placeholder="Address">
                        </div>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary input-sm before-save" onclick="searchAddrs();">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--For alias addr list part-->
            <hr />

            <div class="row">
                    <div class="col-md-12 col-lg-12 ">
                        <div class="panel panel-default" style="">
                            <div class="panel-heading"><b>Primary Ship From</b></div>
                            <table class="table table-bordered table-striped .table-condensed" style="border-color:black;">
                                <tr>
                                    <td style="width:30px"><b>Duration</b></td>
                                    <td style="width:10px">{{selectedAliasAddr.Days}}</td>
                                    <td style="width:15px"><b>WareHouse</b></td>
                                    <td style="width:15px">{{selectedAliasAddr.WareHouse}}</td>
                                    <td style="width:20px"><b>Customer No.</b></td>
                                    <td style="width:15px">{{selectedAliasAddr.CustomerNo}}</td>
                                    <td><b>Attention</b></td>
                                    <td>{{selectedAliasAddr.DestAttention}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Ship To Name</b></td>
                                    <td colspan="7">{{selectedAliasAddr.LocalDestName}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Local Addr 1</b></td>
                                    <td colspan="7">{{selectedAliasAddr.LocalDestAddr1}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Local Addr 2</b></td>
                                    <td colspan="7">{{selectedAliasAddr.LocalDestAddr2}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Local Addr 3</b></td>
                                    <td colspan="7">{{selectedAliasAddr.LocalDestAddr3}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Local City</b></td>
                                    <td colspan="7">{{selectedAliasAddr.LocalDestCity}}</td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td style="width:30px"><b>Ship To Name</b></td>
                                    <td style="width:30px" colspan="5">{{selectedAliasAddr.DestName}}</td>
                                    <td style="width:30px"><b>Dest No.</b></td>
                                    <td style="width:30px" >{{selectedAliasAddr.DestLocation}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 1</b></td>
                                    <td colspan="2">{{selectedAliasAddr.DestAddr1}}</td>
                                    <td style="width:30px"><b>Addr 2</b></td>
                                    <td colspan="2">{{selectedAliasAddr.DestAddr2}}</td>
                                    <td style="width:30px"><b>Addr 3</b></td>
                                    <td colspan="1">{{selectedAliasAddr.DestAddr3}}</td>
                                </tr>
                                @*<tr>
                                    <td style="width:30px"><b>Addr 2</b></td>
                                    <td colspan="7">{{selectedAliasAddr.DestAddr2}}</td>
                                </tr>
                                <tr>
                                    <td style="width:30px"><b>Addr 3</b></td>
                                    <td colspan="7">{{selectedAliasAddr.DestAddr3}}</td>
                                </tr>*@
                                <tr>
                                    <td style="width:30px"><b>City</b></td>
                                    <td>{{selectedAliasAddr.DestCity}}</td>
                                    <td style="width:30px"><b>Country</b></td>
                                    <td >{{selectedAliasAddr.DestCountry}}</td>
                                    <td style="width:30px"><b>ZIP</b></td>
                                    <td>{{selectedAliasAddr.DestZip}}</td>
                                    <td style="width:30px"><b>State</b></td>
                                    <td >{{selectedAliasAddr.DestState}}</td>
                                </tr>
                                @*<tr>
                                    <td style="width:30px"><b>Country</b></td>
                                    <td colspan="6">{{selectedAliasAddr.DestCountry}}</td>
                                </tr>*@

                            </table>
                        </div>
                </div>
            </div>

            <!--Alt Alias Address part-->
            <div class="row">
                <div class="col-md-12  col-lg-12 ">
                    <div class="panel panel-default" style="">
                        <div class="panel-heading">
                            <label>
                                <input type="checkbox" class="input-sm" id="altCheck" style="margin-left:1px;" ng-model="altAddrVisiable" ng-click="checkAltAddrVisiable()" >
                            </label>
                        <b>Alternative Ship From</b>
                        </div>
                        <table id="altAliasAddr" ng-show="altAddrVisiable" class="table table-striped table-hover table-bordered .table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:10px"></th>
                                    <th style="">Duration(days)</th>
                                    <th style="width:15px">Distance</th>
                                    <th style="width:20px">WareHouse</th>
                                    <th>Attention</th>
                                    <th>Customer NO.</th>
                                    <th>Dest NO.</th>
                                    <th>Ship to Name</th>
                                </tr>
                            </thead>
                            <tbody style="">
                                <tr ng-repeat="rd in AltAliasAddr ">
                                    <td style="">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="altOptionsRdios" id="altOptionsRdios$index" class="altAddrRadio" ng-click="AltAddrRadioChange(rd)" ng-init="checkAltRadio()"  seq="{{$index}}" value="">
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{rd.Days}}</td>
                                    <td>{{rd.Distance}}</td>
                                    <td>{{rd.WareHouse}}</td>
                                    <td>{{rd.DestAttention}}</td>
                                    <td>{{rd.CustomerNo}}</td>
                                    <td>{{rd.DestLocation}}</td>
                                    <td>{{rd.LocalDestName}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
            </div>

            <hr />
            <!--For Order Lines-->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="panel panel-default" style="">
                        <div class="panel-heading"><b>Order Lines</b>
                        <b style="color:orange">    Availability Ratio: {{totalRatio}} ({{priRatio+altRatio | number:1}}% = Primary: {{priRatio}}% + Alternative: {{altRatio}} %)</b>
                        </div>

                        <table id="dtOrderLines" class="table table-striped table-hover table-bordered .table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:10px">SEQ</th>
                                    <th style="">Customer Part No.</th>
                                    <th style="">Part No.</th>
                                    <th style="">Message</th>
                                    <th style="">Description</th>
                                    <th style="">DescCN</th>
                                    <th style="width:70px">Qty</th>
                                    <th style="width:90px">AVL Check(Pri)</th>
                                    <th style="width:90px">AVL Check(Alt)</th>
                                    <th style="width:50px">Operation</th>
                                </tr>
                            </thead>
                            <tbody style="">
                                <tr ng-repeat="ol in orderLines ">
                                    <td style="">{{$index+1}}</td>
                                    <td><input class="form-control" ng-model="ol.CustomerPartNo" ng-blur="checkOrderLineItem(ol)" ng-disabled="isSaved" /></td>
                                    <td><input class="form-control" ng-model="ol.PartNo" placeholder="{{ol.PartNoPlaceHolder}}"  ng-style ="{backgroundColor:ol.ItemBackColor}" readonly/></td>
                                    <td><input class="form-control" ng-model="ol.WarningMsg" ng-style ="{backgroundColor:ol.WarningColor}" title="{{ol.WarningMsg}}" readonly /></td>
                                    <td><input class="form-control" ng-model="ol.Description" readonly/></td>
                                    <td><input class="form-control" ng-model="ol.DescCN" readonly/></td>
                                    <td><input class="form-control" ng-model="ol.Qty" ng-blur="checkOrderLineItem(ol)" ng-disabled="isSaved" /></td>
                                    <td><input class="form-control" ng-model="ol.PriAVLCheck" ng-style ="{color:ol.PriAVLCheckColor}" readonly /></td>
                                    <td><input class="form-control" ng-model="ol.AltAVLCheck" ng-style ="{color:ol.AltAVLCheckColor}" readonly /></td>
                                    <td style="text-align:center">
                                        <a href="javascript:void(0)" title="Delete" class="removeBtn" ng-click="removeOLItem($index)" ng-show="!isSaved"><span class="glyphicon glyphicon-trash"></span></a>
                                        <a href="javascript:void(0)" title="Insert" class="insertBtn" ng-click="insertOLItem($index)" ng-show="!isSaved"><span class="glyphicon glyphicon-collapse-up"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn-primary input-sm before-save" id="btnNewLine" ng-click="addOLItem()">NewLine</button>
                    </div>
                </div>
            </div>

            <!--For button Part start-->
            <div class="row">
                <div class="col-md-10 col-lg-10 " style="margin-top:10px;margin-bottom:20px">
                    <button type="submit" class="btn btn-primary before-save" ng-click="SaveDraft()">Save Draft</button>
                    <button type="submit" class="btn btn-primary" ng-click="SaveOrder()">Save Order</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="downloadPri()">Download Pri</button>
                        <button type="button" class="btn btn-primary" ng-click="downloadAlt()">Download Alt</button>
                    </div>
                    <button type="button" class="btn btn-primary before-save" ng-click="ReadClip()">Get Data From Clipboard</button>
                    <button type="button" class="btn btn-primary" ng-click="clearLines()">Clear Data</button>
                    <button type="button" class="btn btn-primary" ng-show="isSaved" ng-click="refreshCtrl()">New Order</button>
                </div>
            </div>

        </div>
    </form>

</div>


<!-- Search result modal-->
<div class="modal fade" id="aliasSearch" role="dialog" aria-labelledby="result" aria-hidden="true" ng-app="resultApp" ng-controller="searchResultCtrl">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Address Result</h4>
            </div>

            <div class="modal-body">
                <table id="searchResult" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:10px"></th>
                            <th style="">Duration(days)</th>
                            <th style="width:15px">Distance</th>
                            <th style="width:20px">WareHouse</th>
                            <th>Attention</th>
                            <th>Ship to Name</th>
                            <th>Addr1</th>
                            <th>Addr2</th>
                            <th>Addr3</th>
                            <th>City</th>
                            <th>Province</th>
                        </tr>
                    </thead>
                    <tbody style="">
                        <tr ng-repeat="rd in resultData ">
                            <td style="">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRdios" id="optionsRdios$index" class="addrRadio" seq="{{$index}}" value="">
                                    </label>
                                </div>
                            </td>
                            <td>{{rd.Days}}</td>
                            <td>{{rd.Distance}}</td>
                            <td>{{rd.WareHouse}}</td>
                            <td>{{rd.DestAttention}}</td>
                            <td>{{rd.LocalDestName}}</td>
                            <td>{{rd.LocalDestAddr1}}</td>
                            <td>{{rd.LocalDestAddr2}}</td>
                            <td>{{rd.LocalDestAddr3}}</td>
                            <td>{{rd.LocalDestCity}}</td>
                            <td>{{rd.LocalDestState}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-primary" onclick="confirmAddr()">Confirm</button>
                        <button type="button" class="btn btn-primary" onclick="cancelAddr()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Progress modal-->
<div class="modal fade" id="progressModal" aria-labelledby="result" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.dueDatetime').datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            minView: 'month',
            todayBtn: true,
            todayHighlight: true,
            initialDate:new Date(),
            pickerPosition: "bottom-left"
        });
        $("#orderForm").validator();

    });


    //Angular orderApp start
    angular.module('orderApp', []).controller('orderCtrl', function ($scope, $http, $timeout) {

        InitCtrl();
        
         function InitCtrl() {
            $http.post("/order/init", null, null).then(function (resp) {
                $scope.custAlias = resp.data.custAlias;
                $scope.orderType = resp.data.orderType;
                $scope.defaultOrderType = resp.data.defaultOrderType;

                $scope.orderSeq = "";
                $scope.selectedAlias = "";
                $scope.selectedOrderType = "";

                $scope.selectedAliasAddr = "";

                //alternative alias addr list and selected on addr
                $scope.AltAliasAddr = null;
                $scope.selectedAltAliasAddr = "";

                $scope.notice = "";

                $scope.lineNo = 1;
                $scope.altAddrVisiable = false;
                $scope.priRatio = 0;
                $scope.altRatio = 0;
                $scope.totalRatio = "";
                $scope.isSaved = false;
                $scope.splInd = true;

                $scope.orderLines = [{ OrderLineNo: $scope.lineNo, CustomerPartNo: "", PartNo: "", Qty: 0, PriAVLCheck: null, AltAVLCheck: null }];

                for (var i = 0; i < $scope.custAlias.length; i++) {
                    if ($scope.custAlias[i].DEFAULT_FLAG == "Y") {
                        $scope.selectedAlias = $scope.custAlias[i];
                        break;
                    }
                }
                for (var i = 0; i < $scope.orderType.length; i++) {
                    if ($scope.orderType[i].ORDER_TYPE == $scope.defaultOrderType) {
                        $scope.selectedOrderType = $scope.orderType[i];
                        break;
                    }
                }

                if ($("#hddSeq").val() != "") {
                    $scope.orderSeq = $("#hddSeq").val();
                    InitCtrlBySeq();
                }

                if ($scope.isSaved) {
                    $timeout(AfterSaveAction());
                }
                
            },
             function (resp) {
                 alert("Fail!");
                 // $scope.resp = resp;
             });
        };

         function InitCtrlBySeq() {
            $.ajax({
                url: "/order/InitOrder",
                data: {
                    orderSeq: $scope.orderSeq
                },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.selectedAliasAddr = obj.priAddr;

                    //alternative alias addr list and selected on addr
                    if (obj.altAddr != null) {
                        $scope.altAddrVisiable = true;
                        $scope.AltAliasAddr = [obj.altAddr];
                        $scope.selectedAltAliasAddr = $scope.AltAliasAddr[0];
                    }
                    $scope.isSaved = obj.isSaved;

                    $scope.orderLines = obj.orderLines;
                    $scope.splInd = obj.splInd;
                    $("#poNum").val(obj.poNum);
                    $("#dueDate").val(obj.dueDate);

                    CalulateRatio();
                    $("#orderForm").validator('validate');
                },
                error: function (obj) {
                    alert("fail to get alt addr Data");
                }

            });
        };

         $scope.checkAltRadio = function ()
         {
             if ($scope.isSaved)
                 $(".altAddrRadio")[0].checked = true;
         }

        $scope.refreshCtrl = function () {
            ResetControls();
            InitCtrl();

            $("#poNum").val("");
            $("#ssto")[0].checked = true;
            $("#dueDate").val("");
            $("#sbShipName").val("");
            $("#sbAddr").val("");
        };

        $scope.clearLines = function (){
            $scope.orderLines = [];
        }

        $scope.GetAltAliasAddr = function () {
            var isSpecialShip = $("#ssto")[0].checked;
            $.ajax({
                url: "/order/GetStrictAddrs",
                data: {
                    shipName: $scope.selectedAliasAddr.LocalDestName,
                    addr: $scope.selectedAliasAddr.LocalDestAddr1,
                    aliasName: $scope.selectedAlias.ALIAS_NAME,
                    isSpecialShip: isSpecialShip
                },
                type: "post",
                async: false,
                success: function (obj) {
                    $scope.AltAliasAddr = obj;
                    //Remove the primary alias addr
                    for (var i = $scope.AltAliasAddr.length - 1; i >= 0 ; i--) {
                        //if (isSpecialShip) {
                        //    if (isSameAliasAddrSPL($scope.selectedAliasAddr, $scope.AltAliasAddr[i]))
                        //        $scope.AltAliasAddr.splice(i, 1);
                        //}
                        //else {
                        //    if (isSameAliasAddrDFLT($scope.selectedAliasAddr, $scope.AltAliasAddr[i]))
                        //        $scope.AltAliasAddr.splice(i, 1);
                        //}
                        if($scope.AltAliasAddr[i].WareHouse==$scope.selectedAliasAddr.WareHouse)
                            $scope.AltAliasAddr.splice(i, 1);


                    }

                },
                error: function (obj) {
                    alert("fail to get alt addr Data");
                }

            });
        };


        $scope.SaveDraft = function () {

            var msg = checkLinesBeforeSave();
            if (msg != null) {
                alert(msg);
                return;
            }

            var dueDate = $("#dueDate")[0].value;
            var orderType = $scope.selectedOrderType.ORDER_TYPE;
            var shipCompFlag = $("#cShip")[0].value;
            var custPONO = $("#poNum").val();
            var isSpecialShip = $("#ssto")[0].checked;

            $.ajax({
                url: "/order/SaveDraft",
                data: JSON.stringify({
                    seq:$scope.orderSeq,
                    dueDate: dueDate,
                    orderType: orderType,
                    shipCompFlag: shipCompFlag,
                    orderNote: $scope.notice,
                    customerPONO: custPONO,
                    isSpecialShip: isSpecialShip,
                    headInfo: $scope.selectedAliasAddr,
                    altHeadInfo: $scope.selectedAltAliasAddr,
                    olList: $scope.orderLines
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    $scope.orderSeq = obj;
                    alert("Success Save Draft");

                },
                error: function (obj) {
                    alert(obj.responseText);
                }

            });
        };

        $scope.SaveOrder = function () {

            var msg = checkLinesBeforeSave();
            if (msg != null) {
                alert(msg);
                return;
            }

            var dueDate = $("#dueDate")[0].value;
            var orderType = $scope.selectedOrderType.ORDER_TYPE;
            var shipCompFlag = $("#cShip")[0].value;
            var custPONO = $("#poNum").val();
            var isSpecialShip = $("#ssto")[0].checked;


            $.ajax({
                url: "/order/SaveOrder",
                data: JSON.stringify({
                    seq: $scope.orderSeq,
                    dueDate: dueDate,
                    orderType: orderType,
                    shipCompFlag: shipCompFlag,
                    orderNote: $scope.notice,
                    customerPONO: custPONO,
                    isSpecialShip: isSpecialShip,
                    headInfo: $scope.selectedAliasAddr,
                    altHeadInfo: $scope.selectedAltAliasAddr,
                    olList: $scope.orderLines
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    $scope.orderSeq = obj;
                    $scope.AltAliasAddr = [$scope.selectedAltAliasAddr];
                    alert("Success Save Order");
                    AfterSaveAction();
                },
                error: function (obj) {
                    alert(obj.responseText);
                }

            });
        };

        $scope.addOLItem = function()
        {
            $scope.lineNo = $scope.lineNo + 1;
            var newItem = {OrderLineNo:$scope.lineNo, CustomerPartNo: "", PartNo: "", Qty: 0, PriAVLCheck: null, AltAVLCheck:null};
            $scope.orderLines.push(newItem);
        };

        $scope.removeOLItem = function(index)
        {
            $scope.lineNo = $scope.lineNo - 1;
            $scope.orderLines.splice(index, 1);
            CalulateRatio();
        };

        $scope.insertOLItem = function (index)
        {
            $scope.lineNo = $scope.lineNo + 1;
            var newItem = { OrderLineNo: $scope.lineNo, CustomerPartNo: "", PartNo: "", Qty: 0, PriAVLCheck: null, AltAVLCheck: null };
            $scope.orderLines.splice(index, 0, newItem);
        }


        //Get PartNo from CustPartNo
        $scope.checkOrderLineItem = function (curr) {
            //debugger;
            //Unchange no need to check
            if (curr.CustomerPartNo == "")
                return;
            if (curr.CustomerPartNo == curr.LastCheckNo && curr.Qty == curr.LastQty)
                return;

            $.ajax({
                url: "/order/CheckOrderLineItem",
                data: JSON.stringify({
                    primarySysID: $scope.selectedAliasAddr.SysID,
                    primaryWareHouse: $scope.selectedAliasAddr.WareHouse,
                    altSysID: $scope.selectedAltAliasAddr.SysID,
                    altWareHosue: $scope.selectedAltAliasAddr.WareHouse,
                    customerNo:$scope.selectedAliasAddr.CustomerNo,
                    olItem: curr
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    curr.PartNo = obj.PartNo;
                    curr.PriAVLCheck = obj.PriAVLCheck;
                    curr.PriAVLCheckColor = obj.PriAVLCheckColor;
                    curr.AltAVLCheck = obj.AltAVLCheck;
                    curr.AltAVLCheckColor = obj.AltAVLCheckColor;
                    curr.PartNoPlaceHolder = obj.PartNoPlaceHolder;
                    curr.Description = obj.Description;
                    curr.DescCN = obj.DescCN;
                    curr.ItemBackColor = obj.ItemBackColor;
                    curr.WarningMsg = obj.WarningMsg;
                    curr.WarningColor = obj.WarningColor;

                    curr.LastCheckNo = curr.CustomerPartNo;
                    curr.LastQty = curr.Qty;
                    CalulateRatio();
                    //debugger;
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        //Check all lines
        $scope.batchCheckOrderLines = function () {
            if ($scope.orderLines == null)
                return;
            if ($scope.orderLines.length == 1 && $scope.orderLines[0].CustomerPartNo == "")
                return;

            $.ajax({
                url: "/order/BatchCheckOrderLines",
                data: JSON.stringify({
                    primarySysID: $scope.selectedAliasAddr.SysID,
                    primaryWareHouse: $scope.selectedAliasAddr.WareHouse,
                    altSysID: $scope.selectedAltAliasAddr.SysID,
                    altWareHosue: $scope.selectedAltAliasAddr.WareHouse,
                    customerNo: $scope.selectedAliasAddr.CustomerNo,
                    olItemList: $scope.orderLines
                }),
                type: "post",
                async: false,
                contentType: 'application/json',
                success: function (obj) {
                    $scope.orderLines = obj;
                    CalulateRatio();

                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        $scope.downloadPri = function () {
            $.ajax({
                url: "/order/DownLoadOrder",
                data: {
                    orderSeq: $scope.orderSeq,
                    shipFrom: 0,
                },
                type: "get",
                async: false,
                success: function () {
                    window.location.href = "/order/DownLoadOrder?orderSeq=" + $scope.orderSeq + "&shipFrom=" + 0;
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });
        };

        $scope.downloadAlt = function () {

            $.ajax({
                url: "/order/DownLoadOrder",
                data: {
                    orderSeq: $scope.orderSeq,
                    shipFrom: 1,
                },
                type: "get",
                async: false,
                success: function () {
                    window.location.href = "/order/DownLoadOrder?orderSeq=" + $scope.orderSeq + "&shipFrom=" + 1;
                },
                error: function (obj) {
                    alert(obj.responseText);
                }
            });

        };



        $scope.AltAddrRadioChange = function (curr) {
            //check changed or not
            if ($scope.selectedAltAliasAddr != null && $scope.selectedAltAliasAddr != "") {
                if ($("#ssto")[0].checked && isSameAliasAddrSPL($scope.selectedAltAliasAddr, curr))
                    return;
                if ((!$("#ssto")[0].checked) && isSameAliasAddrDFLT($scope.selectedAltAliasAddr, curr))
                    return;
            }

            $scope.selectedAltAliasAddr = curr;
            $scope.batchCheckOrderLines();

        };

        $scope.checkAltAddrVisiable = function () {
            if ($scope.altAddrVisiable == false) {
                $scope.selectedAltAliasAddr = "";
                //Reset order Lines alt data
                for (var i = 0; i < $scope.orderLines.length; i++) {
                    $scope.orderLines[i].AltAVLCheckColor = null;
                    $scope.orderLines[i].AltAVLCheck = null;
                }
                //Reset UI radio status
                for (var i = 0; i < $(".altAddrRadio").length ; i++) {
                    if ($(".altAddrRadio")[i].checked) {
                        $(".altAddrRadio")[i].checked = false;
                        break;
                    }
                }
            }
            else {
                if ($scope.selectedAliasAddr == "") {
                    alert("Please select a Primary addr");
                    $scope.altAddrVisiable = false;
                }
                else {
                    $scope.GetAltAliasAddr();
                }
            }
        };

        $scope.proTest = function () {
            //$("#progressModal").modal("show");

            $(document).ready(function () {
                $('.progress .progress-bar').progressbar();
            });
        };

        $scope.ReadClip = function () {
            var str = getClipboard();
            if (str == null)
                alert("No ClipBoard Data");
            var rows = str.split("\r\n");
            if (rows[0].split("\t").length < 2)
                alert("Wrong Data format");
            if (isNaN(rows[0].split("\t")[1]))
                alert("Wrong Data Format");

            for (var i = 0; i < rows.length; i++) {
                var data = rows[i].split("\t");
                if (data.length > 1 ) {
                    if (i == 0 && $scope.orderLines.length>0 &&  $scope.orderLines[$scope.orderLines.length - 1].CustomerPartNo == "") {
                        $scope.orderLines[$scope.orderLines.length - 1].CustomerPartNo = data[0];
                        $scope.orderLines[$scope.orderLines.length - 1].Qty = data[1];
                        //$scope.checkOrderLineItem($scope.orderLines[$scope.orderLines.length - 1]);
                    }
                    else {
                        $scope.lineNo = $scope.lineNo + 1;
                        var newItem = {OrderLineNo:$scope.lineNo, CustomerPartNo: data[0], Qty: data[1] };
                        //$scope.checkOrderLineItem(newItem);
                        $scope.orderLines.push(newItem);
                    }
                }

            }
            $scope.batchCheckOrderLines();
        };

        function getClipboard() {
            if (window.clipboardData) {
                return (window.clipboardData.getData('Text'));
            }

            return null;
        };

        function isSameAliasAddrSPL(ad1, ad2) {
            if (ad1.AliasName == ad2.AliasName
                && ad1.SysID == ad2.SysID
                && ad1.CustomerNo == ad2.CustomerNo
                && ad1.Bill2Location == ad2.Bill2Location
                && ad1.Ship2Location == ad2.Ship2Location
                && ad1.DestLocation == ad2.DestLocation)
                return true;
            else
                return false;
        };

        function isSameAliasAddrDFLT(ad1, ad2) {
            if (ad1.AliasName == ad2.AliasName
                && ad1.SysID == ad2.SysID
                && ad1.CustomerNo == ad2.CustomerNo
                && ad1.Bill2Location == ad2.Bill2Location
                && ad1.Ship2Location == ad2.Ship2Location)
                return true;
            else
                return false;
        };

        function checkLinesBeforeSave() {
            if ($scope.orderLines.length == 0)
                return null;
            for (var i = 0; i < $scope.orderLines.length; i++) {
                if ($scope.orderLines[i].CustomerPartNo != "" && ($scope.orderLines[i].PartNo == "" || $scope.orderLines[i].PartNo == null))
                    return "Have error lines";
            }

        };

        function AfterSaveAction() {
            //debugger;
            //Set disable status
            $("input").attr("disabled", true);
            $(".before-save").attr("disabled", true);
            $("select").attr("disabled", true);
            $(".removeBtn").hide();
            $("#btnNewLine").hide();
            $scope.isSaved = true;
        };

        function ResetControls() {
            $("#hddSeq").val("");
            $("input").attr("disabled", false);
            $(".before-save").attr("disabled", false);
            $("select").attr("disabled", false);
            $(".removeBtn").show();
            $("#btnNewLine").show();
            $scope.isSaved = false;
        };

        function CalulateRatio() {
            if ($scope.orderLines.length == 0)
            {
                $scope.priRatio = 0;
                $scope.altRatio = 0;
                return;
            }
                
            var priCount = 0;
            var altCount = 0;
            var totalCount = $scope.orderLines.length;
            for (var i = 0; i < totalCount; i++) {
                if ($scope.orderLines[i].PriAVLCheck != null && $scope.orderLines[i].PriAVLCheck >= $scope.orderLines[i].Qty)
                    priCount++;
                else if ($scope.orderLines[i].AltAVLCheck != null && $scope.orderLines[i].AltAVLCheck >= $scope.orderLines[i].Qty)
                    altCount++;
            }

            if (priCount >= 0)
                $scope.priRatio = parseFloat(((priCount / totalCount) * 100).toFixed(1));
            if (altCount >= 0)
                $scope.altRatio = parseFloat(((altCount / totalCount) * 100).toFixed(1));

            var saCount = priCount + altCount;
            $scope.totalRatio = saCount.toString() + "/" + totalCount.toString();
        };

    });


    angular.module('resultApp', []).controller('searchResultCtrl', function ($scope, $http) {
        //Alias addres list
        $scope.resultData = "";

    });

    //Add second app to document
    angular.bootstrap(document.getElementById("aliasSearch"), ['resultApp']);
    angular.bootstrap(document.getElementById("orderBody"), ['orderApp']);

    //Functions start
    function searchAddrs()
    {
        var shipName = $("#sbShipName").val();
        var addr = $("#sbAddr").val();
        var isSpecialShip = $("#ssto")[0].checked;

        var appElement1 = document.querySelector('[ng-controller=orderCtrl]');
        var scope1 = angular.element(appElement1).scope();
        var aliasName = scope1.selectedAlias.ALIAS_NAME;

        $.ajax({
            url: "/order/SearchAddrs",
            data: {
                shipName: shipName,
                addr: addr,
                aliasName:aliasName,
                isSpecialShip: isSpecialShip
            },
            type:"post",
            async:false,
            success: function (obj) {
                if (obj == "OverFlow")
                    alert("Please make condition more strict");
                else {
                    var appElement = document.querySelector('[ng-controller=searchResultCtrl]');
                    var scope = angular.element(appElement).scope();
                    scope.resultData = obj;

                    scope.$apply();
                    $("#aliasSearch").modal("show");
                }

            },
            error: function (obj)
            {
                alert(obj.responseText);
            }

        });
    }

    function confirmAddr()
    {
        for (var i = 0; i < $(".addrRadio").length ; i++) {
            if ($(".addrRadio")[i].checked)
            {
                var seq = $(".addrRadio")[i].attributes['seq'].value;
                var appElement = document.querySelector('[ng-controller=searchResultCtrl]');
                var scope = angular.element(appElement).scope();
                var selected = scope.resultData[seq];

                var appElement1 = document.querySelector('[ng-controller=orderCtrl]');
                var scope1 = angular.element(appElement1).scope();
                scope1.selectedAliasAddr = selected;
                scope1.$apply();
                break;
            }

        }
        $("#aliasSearch").modal("hide");
    }

    function cancelAddr()
    {
        $("#aliasSearch").modal("hide");
    }

    function checkSstoStatu()
    {
        if ($("#ssto")[0].checked == false && $("#cAlias")[0].innerText != null)
            searchAddrs();
        if ($("#ssto")[0].checked == false && $("#cAlias")[0].innerText == null)
            alert("Please select a Cus Alias");
    }

    function checkPOText()
    {
        var txt = $("#poNum").val();
        if (txt == "")
            return;
        //var reg = /^[u4E00-u9FA5]+$/;
        var reg1 = /^[a-zA-Z0-9]{1,25}$/;
        if (!reg1.test(txt)) {
            alert("Have illegal character ");
            $("#poNum").val("");
        }

    }

    function InitData() {
        //debugger;
        //var appElement = document.querySelector('[ng-controller=orderCtrl]');
        //var scope = angular.element(appElement).scope();
        ////scope.InitCtrl();

        //if ($("#hddSeq").val() != "") {
        //    scope.orderSeq = $("#hddSeq").val();
        //    scope.$apply();
        //    scope.InitCtrlBySeq();
        //}
        //scope.$apply();
    }




</script>
