@using CHubDBEntity;
@using CHubModel;
@{
    var pageLists = ViewBag.pageList as List<PageList>;
    var recentLists = ViewBag.recentList as List<APP_PAGES>;
    var ihubEnv = ViewBag.ihubEnv as string;
}
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    a.NoLine:link {
        text-decoration: none;
    }

    a.NoLine:visited {
        text-decoration: none;
    }

    a.NoLine:hover {
        text-decoration: none;
    }

    .popover {
        max-width: 60%; /* Max Width of the popover (depending on the container!) */
    }

    b {
        font-size: 24px;
    }

    .imgwrap {
        text-align: center;
        height: 88px;
    }

        .imgwrap img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

        .imgwrap span {
            display: block;
        }
</style>

<style type="text/css">

</style>

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            @if (ihubEnv == "TEST")
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default text-center" style="background-color:red;color:white;">
                            @foreach (var item in ViewBag.welcomeList)
                            {
                                <h3>@item.WEL_MSG</h3>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default text-center">
                            @foreach (var item in ViewBag.welcomeList)
                            {
                                <h3>@item.WEL_MSG</h3>
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>Recent</b></div>
                        <div class="row" style="margin-top:15px;">
                            @foreach (var item in recentLists)
                            {
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4" style="margin-top:5px;">
                                    <div class="imgwrap">
                                        <a href="@item.URL" title="@item.DESCRIPTION" target="_blank">
                                            <img src="~/Images/page_ico/@item.ICON" />
                                            <span>@item.ICON_DESC</span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    @foreach (var pls in pageLists)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>@pls.SPACE_DESC</b></div>
                        </div>
                        <div class="row">
                            @foreach (var item in pls.pages)
                            {
                                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4">
                                    <div class="imgwrap menuList">
                                        <a href="@item.URL" title="@item.DESCRIPTION" target="_blank">
                                            <img src="~/Images/page_ico/@item.ICON" />
                                            <span>@item.ICON_DESC</span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    //$(function () {
    //    $('[data-toggle="popover"]').popover()
    //})

    //$(function () {
    //    $('.poptd').popover()
    //})

</script>

<script type="text/javascript">
    $(document).ready(function () {
        //$(".indexLeft").css("border", "1px solid #ccc");
        //$(".indexLeft").css("display", "");
        //$(".indexLeft").css("z-index", 0);
        //$(".indexRight").css("width", "78%");
        //$(".indexRight").css("float", "right");
        //$(".indexRight").css("margin-left", "0px");
        //$(".treeBtn2").hide();

        $(".menuList").on('click', 'a', function () {
            var $a = $(this);
            var url = $a.attr("href");
            $.ajax({
                url: '/home/LogPageClick',
                type: 'post',
                async: true,
                data: {
                    URL: url
                },
                dataType: 'json',
                success: function (obj) {
                    if (!obj.Success) {
                        alert(obj.Msg);
                    }
                },
                error: function (e) {
                    alert("fail to log");
                }
            });
        })

    })
</script>
