@using CHubDBEntity;
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
a.NoLine:link { text-decoration: none}
a.NoLine:visited { text-decoration: none}
a.NoLine:hover {text-decoration: none}
</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
           @foreach (var item in ViewBag.welcomeList)
           {
               <h3>@item.WEL_MSG</h3>
           }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-left"><strong>Recent Page</strong></p>
            <table>
            @foreach (var item in ViewBag.recentList)
            {
                <tr>
                    <td><p><a class="NoLine" href="@item.PAGE_URL">@item.PAGE_NAME</a></p><td>
                </tr>
            }
                </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-left"><strong>Notice</strong></p>

            <div class="panel panel-default indexRight">
                <table id="fileListTable" class="table  table-striped  table-hover" style="table-layout:fixed ">
                    <thead>
                        <tr>
                            <th style="width:50px;word-wrap:break-word;" >ID</th>
                            <th class="text-center" style="width:auto;word-wrap:break-word;">Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (var item in ViewBag.noticeList)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.NOTICE_TEXT</td>
                            </tr>
                            index++;
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
