@using CHubDBEntity;
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
a.NoLine:link { text-decoration: none}
a.NoLine:visited { text-decoration: none}
a.NoLine:hover {text-decoration: none}
</style>

<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-12 col-lg-10">
           @foreach (var item in ViewBag.welcomeList)
           {
               <h3>@item.WEL_MSG</h3>
           }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-left"><strong>Recent Page</strong></p>
            <dl class="dl-horizontal">
            @foreach (var item in ViewBag.recentList)
            {
                <dt>
                    <p><a class="NoLine" href="@item.URL">@item.DISPLAY</a></p>
                </dt>
                <dd>
                    <p>@item.DESCRIPTION</p>
                </dd>
            }
             </dl>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-left"><strong>Notice</strong></p>

            <div class="panel panel-default indexRight table-responsive">
                <table id="fileListTable" class="table  table-striped  table-hover" style="table-layout:fixed ">
                    <thead>
                        <tr>
                            <th style="width:50px;word-wrap:break-word;" >ID</th>
                            <th class="text-center" style="width:auto;word-wrap:break-word;">Topic</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (var item in ViewBag.noticeList)
                        {
                            <tr>
                                <td>@index</td>
                                <td class="text-center" onmouseover="overShow()" onmouseout="outHide()" >@item.NOTICE_TOPIC</td>
                            </tr>
                            index++;
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<div id="showDiv" style="position: absolute; background-color: white; border: 1px solid black;"></div>

<script>
    function overShow() {
        var showDiv = document.getElementById('showDiv');
        showDiv.style.left = event.clientX;
        showDiv.style.top = event.clientY;
        showDiv.style.display = 'block';
        showDiv.innerHTML = 'TipsContents';
    }

    function outHide() {
        var showDiv = document.getElementById('showDiv');
        showDiv.style.display = 'none';
        showDiv.innerHTML = '';
    }
</script>
